body{
    padding: 0;
    margin: 0;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1{
  color: white;
}

.ciao{
   color: black;
   background-color: black;

}

p{
  color: red;
}

h1::selection{
  background-color: yellow;
}

p::selection{
  background-color: blue;
}
